<div class="container pt-5">
  <div class="row pb-5">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Messages</h5>
          <%= link_to "New Message", new_user_message_path, class: "btn btn-primary float-right" %>
        </div>
        <div class="card-body">
          <% @messages.each do |message| %>
            <% if message.sender_id == current_user.id || message.recipient_id == current_user.id %>
              <div class="message card mb-3">
                <div class="card-header">
                  <div class="row">
                    <div class="col-md-6">
                      <strong class="text-primary">Sender:</strong> <%= User.find(message.sender_id).first_name.capitalize %>
                    </div>
                    <div class="col-md-6 text-right">
                      <strong class="text-primary">Recipient:</strong> <%= User.find(message.recipient_id).first_name.capitalize %>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <p class="card-text"><strong>Message:</strong> <%= message.content %></p>
                </div>
                <div class="card-footer text-muted">
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
