<h1>Hi <%= current_user.first_name%>, here are your courses</h1>
<% if @my_courses %>
  <% @my_courses.each do |my_course| %>
    <%= my_course %>
  <% end %>
<% else %>
  <%= "Go study" %>
<% end %>
