<div class="page-container">
  <% if @my_enrollments.empty? %>
    <h1 class="enrollments-title">You have not enrolled in any course</h1>
    <p>We suggest you enrol in one!</p>
    <%= link_to "Explore courses", courses_path, class: "btn btn-primary" %>
  <% else %>
    <h1 class="enrollments-title">Hi <%= current_user.first_name%>, here are your enrollments</h1>
      <% @my_enrollments.each do |my_enrollment| %>
        <%= render partial: 'shared/card', locals: { course: my_enrollment.course } %>
      <% end %>
  <% end %>

  <div data-controller="calendar" class="enrollments-text">
  </div>
</div>
