<div class="container">
  <h1>New enrollment for <%= @course.title %></h1>

  <%= simple_form_for @enrollment do |f| %>
    <%= f.error_notification %>

    <%= f.button :submit, "Enroll", class: "btn btn-primary" %>
  <% end %>
</div>
