<div class="row m-0 mt-3 data">
  <h4 class="m-0 p-0 mb-4">Course statistics</h4>
  <div class="row p-0">
    <div class="col-6">
      <h5 class="p-0 mb-3 text-secondary-2">Enrollments — <%= @course.enrollments.count %></h5>
      <h5 class="p-0 mb-3 text-secondary-2">Avg. attendance — No data</h5>
      <h5 class="p-0 mb-3 text-secondary-2">Completion rate — No data</h5>
    </div>
    <div class="col-6">
      <h5 class="p-0 mb-3 text-secondary-2">Messages — no messages</h5>
      <h5 class="p-0 mb-3 text-secondary-2">Revenue — $0</h5>
      <h5 class="p-0 mb-3 text-secondary-2">Reviews — no reviews yet</h5>
    </div>
  </div>
</div>
