<div class="row m-0 mt-3 message">
  <h4 class="m-0 p-0 mb-4">A message from your instructor!</h4>
  <div class="d-flex flex-row m-0 p-0 gap-3">
    <p class="text-editor p-0 m-0"><%= @course.welcome_message %></p>
  </div>
</div>
<div class="row m-0 p-0 mt-5">
  <h4 class="m-0 p-0 mb-4">How to prepare for this course</h4>
  <div class="d-flex flex-row p-0 gap-3">
    <p class="text-editor"><%= @course.prep %></p>
  </div>
</div>
