<div class="page-container pb-0">

<div class="row">
  <div class="col-sm-3 align-right">
    <h2 class="form-title">Find Your <strong>Dream Course</strong></h2>
    <p>Search for your course now</p>
  </div>
  <div class="col-sm-8 my-3">
    <%= form_with url: courses_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Type a keyword"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
</div>
