
<%= render "shared/search_bar" %>

<div class="page-container pt-5">
  <div class="row gap-5 align-center">
    <% @courses.each do |course| %>
      <%= render "shared/card", course: course %>
    <% end %>
  </div>
</div>
