
<%= render "shared/search_bar" %>

<div class="page-container pt-5">
  <div class="align-center cards-container">
    <% @courses.each do |course| %>
      <%= render "shared/card", course: course %>
    <% end %>
  </div>
</div>
