<div class="banner d-flex justify-content-center align-items-center">
  <div class="d-flex flex-column">
    <h1 class="title mb-3">Unlock your career potential</h1>
    <div class="d-flex flex-row mx-auto gap-3">
      <% if user_signed_in? %>
        <div class="d-flex flex-column justify-content-center align-items-center">
          <p class="banner-text mt-2">Join world-class live courses anywhere in the world, to learn new skills and level up your career</p>
        </div>
      <% else %>
      <div class="d-flex flex-column justify-content-center align-items-center">
        <p class="banner-text mt-2">Join world-class live courses anywhere in the world, to learn new skills and level up your career</p>
        <%= link_to "Start learning", new_user_registration_path, class: "btn btn-outline-light w-25 mt-3" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
<div class="page-container">
  <h3 class="find-courses m-0 p-0">Find your next course</h3>
  <div class="row gap-3 justify-content-between">
    <% @courses.each do |course| %>
      <%= render "shared/card", course: course %>
    <% end %>
  </div>
</div>
