.page-container {
  width: 1256px;
  margin: 0 auto;
}

.course-card {
  border: 1px solid rgb(206, 206, 206);
  height: 296px;
  width: 376px;
  border-radius: 12px;
  margin: 32px 0;
  padding: 24px 32px 32px 32px;
  color: black;
}

.course-card .course-tag {
  background-color: rgba(79, 79, 79, 0.1);
  width: fit-content;
  padding: 4px 8px;
  border-radius: 8px;
  margin-right: 16px;
}

.course-card .course-header {
  font-size: 14px;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.course-card .course-title {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  margin-bottom: 20px;
  height: 56px;
}

.course-card .course-description {
  font-size: 16px;
  margin-bottom: 20px;
  height: 56px;
  line-height: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.course-card .course-creator {
  height: 48px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.course-card .creator-name {
  font-size: 18px;
}

.course-card img {
  border-radius: 50%;
  height: 48px;
  width: 48px;
  border: 1px solid grey;
}
