.page-container {
  width: 1256px;
  margin: 0 auto;
}

.course-card {
  border: 1px solid rgb(206, 206, 206);
  height: 296px;
  width: 392px;
  border-radius: 12px;
  padding: 24px 32px 32px 32px;
  color: black;
  background-color: #cecece;

  &:hover {
    outline: 1px solid rgb(255, 0, 170);
  }
}

.course-card .course-tag {
  width: fit-content;
  padding: 5px 10px;
  border-radius: 8px;
}

.course-card .course-header {
  font-size: 12px;
  margin-bottom: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.course-card .course-title {
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  margin-bottom: 16px;
  height: 56px;
  line-height: 30px;
}

.course-card .course-description {
  font-size: 14px;
  margin-bottom: 20px;
  height: 56px;
  line-height: 22px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: gray;
}

.course-card .course-creator {
  height: 48px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.course-card .creator-name {
  font-size: 18px;
}

.course-card .img {
  border-radius: 50%;
  height: 42px;
  width: 42px;
  border: 1px solid grey;
  background-color: rgb(233, 233, 233);
}

.fa-arrow-right {
  font-size: 26px;
  color: rgb(255, 0, 170);
}
