.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-title {
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  color: black;
  margin-right: 16px;
}

.navbar-link {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: black;
  margin-left: 32px;

  &:hover {
  color: rgb(104, 104, 104);
  }
}

.navbar-width {
  width: 1256px;
  padding-left: 0;
  padding-right: 0;
  height: 48px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.img {
  width: 40px;
  margin-right: 24px;
}

.role-instructor {
  font-size: 14px;
  width: fit;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: rgb(228, 228, 255);
  border: 1px solid rgb(0, 0, 208);
  border-radius: 20px;
  margin: 0;
}

.role-student {
  font-size: 14px;
  width: fit;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: rgb(222, 245, 230);
  border: 1px solid rgb(0, 103, 36);
  border-radius: 20px;
  margin: 0;
}

.dot-instructor {
  color: rgb(0, 0, 208);
  size: 28px;
  text-shadow: 0 0 1px rgb(86, 86, 255);
}

.dot-student {
  color: rgb(0, 103, 36);
  size: 28px;
  text-shadow: 0 0 1px rgb(0, 103, 36);
}
