.search-bar-container {
  margin-right: 6px;
  position: relative;
}

.search-bar {
  border: 1px solid rgb(206, 206, 206);
  border-radius: 6px;
  padding-right: 40px;
}

.search-bar:focus {
  box-shadow: none;
  outline: 1px solid rgb(255, 0, 170);
}

.form-control::placeholder {
  opacity: 0.5;
}

.button-search {
  position: absolute;
  right: 12px; /* Adjust this value to position the button properly */
  height: 100%;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
  color: white;
  background-color: rgb(255, 0, 170);
}

.button-search:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
  color: rgb(255, 0, 170);
  outline: 1px solid rgb(255, 0, 170);
}

.button-search:focus {
  box-shadow: none;
  outline: 1px solid rgb(255, 0, 170);
}
