.show-title {
  font-size: 42px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 130%;
}

.show-description {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: grey;
  line-height: 175%;
}

.text-editor {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: grey;
  line-height: 185%;
}

.enroll-card {
  background-color: hsl(0, 0%, 92%);
  border: 1px solid rgb(206, 206, 206);
  height: fit-content;
  border-radius: 8px;
  padding: 24px;
}

.enroll-card-2 {
  border: 1px solid rgb(0, 10, 116);
  height: fit-content;
  border-radius: 8px;
  padding: 24px;
}

.enroll-card h5 {
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 16px;
}

.enrollments-title {
  font-size: 34px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.enrollments-text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fa-location-dot {
  font-size: 20px;
  color: grey;
}

.location-text {
  font-size: 16px;
  color: rgb(71, 71, 71);
}

.message {
  border: 2px solid rgb(31, 123, 118);
  background-color: rgb(237, 249, 248);
  border-radius: 20px;
  padding: 50px;
}

.data {
  border: 2px solid rgb(255, 81, 0);
  background-color: rgb(255, 232, 211);
  border-radius: 20px;
  padding: 50px;
}

.text-secondary-2 {
  font-weight: 400;
  color: rgb(58, 58, 58);
  margin-bottom: 20px;
}
