.show-title {
  font-size: 52px;
  font-weight: 600;
}

.show-description {
  font-size: 20px;
  font-weight: normal;
}

.enroll-card {
  background-color: hsl(0, 0%, 92%);
  border: 1px solid rgb(206, 206, 206);
  height: fit-content;
  border-radius: 8px;
  padding: 24px;
}

.enroll-card h5 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 16px;
}
