.show-title {
  font-size: 52px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.show-description {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.enroll-card {
  background-color: hsl(0, 0%, 92%);
  border: 1px solid rgb(206, 206, 206);
  height: fit-content;
  border-radius: 8px;
  padding: 24px;
}

.enroll-card h5 {
  font-size: 22px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 16px;
}

.enrollments-title {
  font-size: 34px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.enrollments-text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
