<h3>Your Instructor!</h3>

<h5><p><%= @course.user.first_name.capitalize %> <%= @course.user.last_name.capitalize %></p></h5>

<% if @course.user.avatar.key %>
  <%= cl_image_tag @course.user.avatar.key, :transformation=>[
  {:gravity=>"face", :height=>200, :width=>200, :crop=>"thumb"},
  {:radius=>"max"},
  {:fetch_format=>:auto}
  ]%>
<% end %>


<%= @course.user.bio%>
