<h5 class="mb-3">Meet your Instructor</h5>
<div class="d-flex flex-row justify-content-left align-items-center course-creator">
  <% if @course.user.avatar.attached? %>
    <%= cl_image_tag @course.user.avatar.key, class: "avatar" %>
  <% else %>
    <div class="avatar me-3"></div>
  <% end %>
  <h6 class="creator-name m-0"><%= @course.user.first_name %> <%= @course.user.last_name %></h6>
</div>
<%= @course.user.bio %>
